<div class="container" id="myHeader">
<ul class="nav navbar-inverse">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home" id="link-accueil">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-house-fill"
          viewBox="0 0 16 16"
          id="logoHome"
        >
          <path
            fill-rule="evenodd"
            d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
          ></path>
          <path
            fill-rule="evenodd"
            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
          ></path>
        </svg>
        <div class="txt-link"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accueil</div></a>
    </li>
    <li class="nav-item" id="scd-item">
      <a class="nav-link " *ngIf="!isLoggedIn" routerLinkActive="active" routerLink="/login"
        ><div class="txt-link">Se connecter</div></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!isLoggedIn" routerLinkActive="active" routerLink="/register"
        ><div class="txt-link">Register</div></a
      >
    </li>
    <li class="nav-item" *ngIf="showAdminBoard">
      <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
    </li>
    <li class="nav-item">
      <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLinkActive="active" routerLink="user"
        ><div class="txt-link">User</div></a
      >
    </li>
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLinkActive="active" routerLink="profile">{{
        username
      }}</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a href class="nav-link" (click)="logout()">Déconnexion</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <button id="button-Espace">
        <span id="Mon">Mon</span><span id="Espace">&nbsp;tableau de bord</span>
      </button>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <button (click)="showConnectTrue()" id="button-Espace">
        <span id="Mon">Mon</span><span id="Espace">&nbsp;Espace</span>
      </button>
    </li>
  </ul>
  <div id="popConnect" *ngIf="showConnect">
    <div class="formu">
      <h2>Me connecter</h2>
        <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && login()"
          #f="ngForm"
          novalidate
        >
        <div class="form-group">
          <div class="mb-3 row">
          <label for="username" class="col-4 offset-1">Username</label>
          <input
            type="text"
            class="col-5 col-form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
        </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            Username is required!
          </div>
        </div>
        <div class="form-group">
          <div class="mb-3 row">
          <label for="password" class="col-4 offset-1">Password</label>
          <input
          type="password"
              class="col-5 col-form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
          </div>
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="password.errors && f.submitted"
            >
              <div *ngIf="password.errors['required']">Password is required</div>
              <div *ngIf="password.errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-3 row">
              <div class="col-2 offset-4 px-0">
            <button id="btn-connect">
              Se connecter
            </button>
          </div>
          </div>
        </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}.
        </div>

    <button
      (click)="showConnectFalse()"
      type="button"
      class="btn-close me-2 m-auto"
      aria-label="Close"
    ></button>

    <a class="signUp" routerLink="/register">Je ne suis pas encore inscrit? C'est par ici ;)</a>

  </div>
  </div>

  <div id="popMenu" *ngIf="showMenu">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action active"
        aria-current="true"
      >
        The current link item
      </a>
      <a href="#" class="list-group-item list-group-item-action"
        >Mon tableau de bord</a
      >
      <a href="#" class="list-group-item list-group-item-action">Mon profil</a>
      <a
        href="#"
        (click)="logout()"
        class="list-group-item list-group-item-action"
        >Se déconnecter</a
      >
    </div>
    <button
      (click)="showMenuFalse()"
      type="button"
      class="btn-close me-2 m-auto"
      aria-label="Close"
    ></button>
  </div>
</div>
