@import"../common/scss/variables";
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';


.container{
  margin-left: 10px;
  margin-right: 5px;
  position: relative;
  width : 100%;
}
#myHeader{
  margin:0!important;
  background-color: black;
}

.nav {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}


.nav-item{

  margin-right:80px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.nav-link
{
  color: $colorGoldDark;
}

.active{

  background-color: #450D18;
}

.nav-link:hover{
  color: $colorRedDarck;

}

#link-accueil{
  position:relative;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

}


#logoHome{
  position: absolute;
  top:22%;
 }


h2{
  text-align: center;
  margin-bottom: 40px;;
  color: $colorRedDarck;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style:italic;
}


#popConnect{
  position:fixed;
  right:5px;
  height:350px;
  width: 480px;
  padding:40px;
  z-index:15;
  background: $colorBorderConnect;
  padding:10px;
}

.formu{
  align-content: center;
  padding:15px;
  background-color: white;
  height:100%;
}

form{
  margin:25px;
}

label{
  color: $colorPurpleDarck;
}

input{
  background-color: white;
  border-color: $colorRedDarck;
  border-radius: 4px;
}

.btn-close{
  position:fixed;
  right:15px;
  top:60px;
}

.signUp{
  padding-left:13%;
  color:$colorPurpleDarck;
}



@media screen and (min-width : 768px){
  .container{max-width : 100%;}
}

//*****************************************BUTTONS***********************************************
#btn-connect {
  width: 130px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #581845;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 25px;
}

#btn-connect:hover {
  background-color: #900c3f;
  box-shadow: 0px 15px 20px rgba(88, 24, 69, 0.4);
  color: rgb(255, 238, 193);
  transform: translateY(-7px);
}

#button-Espace{
  position: absolute;
  right: 10px;
  top: 5px;
  bottom: 0;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background-color: #581845;
  max-height: 45px;
  color: $colorGoldDark;
}
#button-Espace span {
  position: relative;
  z-index: 10;

}

#button-Espace:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 600%;
  width: 200%;
  background-color: #900C3F;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
}
#button-Espace:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
