
#monFooter{
  width: 100%;
  max-height: 35%;
  padding:0;
  margin-top:0!important;
}

body {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}

#fondColor{
  max-height: 180px;
}

#button-addon1 {
  color: #ff5f6d;
  border-color: #ff5f6d;
  padding:0;
  border-radius: 8px;
}

#slogan {
  padding-top: 20px;
  font-size: x-large;
  font-style:italic;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

#copyright{
  padding: 0px!important;
  max-height:30px;
}

#txt-Copyright{
  margin:0;
  padding:0;
}

@media screen and (min-width : 768px){
  .container{max-width : 100%;}
}

