<div class="container" id="monFooter">
<body class="d-flex flex-column">
  <!-- For demo purpose -->
  <div class="container-fluid flex-grow-1 flex-shrink-0" id="fondColor">
    <div class="px-lg-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" id="slogan">
          <p class="text-white ">Réalisez vos oeuvres,</p>
          <p class="text-white" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Produisez vos rêves.</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Espace Artist</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Mon profil</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Recherche de salles</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Mon historique</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Entra(r)tistes</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Se connecter</a></li>
            <li class="mb-2"><a href="#" class="text-muted">S'inscrire</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Nous contacter :)</h6>
          <p class="text-muted mb-4"></p>
          <div class="p-1">
            <div class="input-group">
              <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                <button id="button-addon1" type="submit" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                    <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"></path>
                  </svg>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->


  <!-- Footer -->
  <footer class="bg-white" id="copyright">
    <!-- Copyrights -->
    <div class="bg-light">
      <div class="container text-center" id="txt-Copyright">
        <p class="text-danger mb-0">© 2021 Entrartistes All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- End -->

</body>
</div>
