$colorRed : #DC0F0F;
$colorRedDarck: #8A1C1C;
$colorPurpleDarck: #4D0E8C;
$colorPurple : #811FE3;
$colorGold : #F9E949;
$colorGoldDark :#FFD733;
$colorGoldDarkTrans :#ffe0669d;
$colorButtonRed: #FC8961;
$colorButtonPurple: #F9E949;
$colorBackgroundRed: linear-gradient(230.46deg, #b85f65b9 -2.98%, #a83333 68.14%, #97292985 104.54%);
$colorBackgroundGold: linear-gradient(230.46deg, #ffe065 -2.98%, #f5e5b3 68.14%, #e7ec9a 104.54%);
$colorBorder3: linear-gradient(230.46deg, #2a0564 -2.98%, #690b27 68.14%, #f1d537 104.54%);
$colorBorderConnect: linear-gradient(230.46deg, #ff5f6d -2.98%, #ffc371 68.14%, #faeb99 104.54%);
$boxShadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
