@import "../../../common/scss/variables";

//*****************************************BODY***********************************************
#myRegister {
  background: $colorBackgroundRed;
  width: 100%;
  height: 2300px;
  margin: 0px;
  padding: 0px;
}

//*****************************************CAROUSEL***********************************************
#carouselExampleIndicators {
  max-height: 500px;
}

img {
  max-height: 500px;
}

#img-chaussons {
  display: inline-block !important;
  width: 50% !important;
}
#img-photo {
  display: inline-block !important;
  width: 50% !important;
}
#img-pieds {
  display: inline-block !important;
  width: 50% !important;
}
#img-projecteurs {
  display: inline-block !important;
  width: 50% !important;
}

#img-sieges {
  display: inline-block !important;
  width: 50% !important;
}
#img-magicien {
  display: inline-block !important;
  width: 50% !important;
}

.text-img {
  position: relative;
  text-align: center;
  color: white;
}

.text-white {
  font-style: italic;
  font-size: large;
}

#solgan1 {
  position: absolute;
  top: 15%;
  left: 32%;
}
#solgan2 {
  position: absolute;
  bottom: 8%;
  right: 8%;
}

//*****************************************REGISTER***********************************************
#divRegister {
  position: absolute;
  top: 1190px;
  left: 50%;
  background: $colorBorderConnect;
  height: auto;
  min-height: 500px;
  width: 1200px;
  padding: 40px;
  padding: 10px;
  transform: translate(-50%, -50%);
  box-shadow: $boxShadow;
}

.formu {
  align-content: center;
  padding: 15px;
  background-color: white;
  height: auto;
  min-height: 490px;
}

//*****************************************FORMULAIRE***********************************************
mat-stepper {
  margin-top: 28px;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #581845;
  font-style: oblique;
}

h3 {
  margin-top: 40px;
  margin-bottom: 32px;
}

.row {
  margin-bottom: 35px;
  margin-left: 35px;
}

label {
  color: $colorPurpleDarck;
}

input,
textarea {
  background-color: white;
  border-color: $colorGoldDark;
  border-radius: 4px;
}

#upload {
  border-color: #900c3f;
  color: #892311;
}

select {
  border-color: #900c3f;
  color: #892311;
  border-radius: 4px;
}

.listDep {
  border-style: inset;
  width: 300px;
}

#dep-p {
  color: $colorRedDarck;
  font-size: large;
  font-style: oblique;
  background-color: #fdf8f3;
  margin-bottom: 0px;
  text-align: center;
  padding: 12px;
}

#dom-p {
  color: $colorRedDarck;
  font-size: large;
  font-style: oblique;
  background-color: #f5f1fa;
  margin-bottom: 0px;
  text-align: center;
  padding: 12px;
}

.btn-close {
  margin-right: 25px;
}

.toast{
  position:relative;
  bottom: 20px;
  left: 700px;
}

//*****************************************BUTTONS***********************************************
#btnEnvoyer,
#btnPrevious,
#btnNext {
  margin-top: 100px;
}

.button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #581845;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #900c3f;
  box-shadow: 0px 15px 20px rgba(88, 24, 69, 0.4);
  color: rgb(255, 238, 193);
  transform: translateY(-7px);
}
//*****************************************PROFIL***********************************************
#apercu{
  border: 4mm ridge $colorGoldDark;
  min-height: 800px;
  margin-left: 80px;
  margin-right: 80px;
  max-width: 80%!important;
  position: relative;
}

#img-profil{
  position: relative;
  top:10px;
  max-width: 225px;
  margin-left:0px;
}

h1{
  color:rgba(88, 24, 69, 0.4);
  background: linear-gradient(to right, #960b60, rgb(50, 18, 100));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4rem;
  margin-left:5%;
  margin-top: 25px;
  position: absolute;
}

#name-profil{
  max-height: 90px;
}

#domain-profil{
  color:$colorGoldDark;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-left: 15%;
  margin-top:90px;
}
#location-profil{
  color:$colorRedDarck;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-left: 20%;
  margin-top:30px;
}

#slogan-profil{
  color: $colorPurpleDarck;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  margin-top:90px;
}
#bio-profil{
  font-family: 'Times New Roman', Times, serif;
  color: #960b60;
  font-size: 1rem;
  font-style: italic;
  text-align: justify;
  padding: 50px;
}
