<div class="container" id="myRegister">
  <!--******************************************************CAROUSEL***************************************************************-->
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="text-img">
          <img
            src="../../assets/img/appareil-photo.jpg"
            class="d-block w-100"
            alt="..."
            id="img-photo"
          />
          <p class="text-white" id="solgan1">Réalisez vos oeuvres,</p>
          <img
            src="../../assets/img/chaussons-danse.jpg"
            class="d-block w-100"
            alt="..."
            id="img-chaussons"
          />
          <p class="text-white" id="solgan2">Produisez vos rêves.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-img">
          <img
            src="../../assets/img/pieds-rouges.jpg"
            class="d-block w-100"
            alt="..."
            id="img-pieds"
          />
          <img
            src="../../assets/img/projecteurs-rouges.jpg"
            class="d-block w-100"
            alt="..."
            id="img-projecteurs"
          />
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--****************************************REGISTRATION*******************************************************-->
  <div id="divRegister">
    <div class="formu">
      <h2>Inscription</h2>
      <hr />

      <mat-stepper headerPosition="bottom" #stepper>
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <!--****************************************PREMIERE_PAGE*******************************************************-->
          <mat-step>
            <ng-template matStepLabel>Informations personnelles</ng-template>

            <!--------------IDENTITE------------->
            <hr />
            <h3>Identité</h3>

            <div class="form-group">
              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="lastName"
                >
                  <label for="lastName">Nom : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    [(ngModel)]="form.lastName"
                    required
                    #lastName="ngModel"
                    value="{{ form.lastName }}"
                  />
                  <div
                    class="text-danger"
                    *ngIf="lastName.errors && f.submitted"
                  >
                    <div *ngIf="lastName.errors['required']">
                      Le nom est obligatoire.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="firstName"
                >
                  <label for="firstName">Prénom : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    [(ngModel)]="form.firstName"
                    required
                    #firstName="ngModel"
                    value="{{ form.firstName }}"
                  />

                  <div
                    class="text-danger"
                    *ngIf="firstName.errors && f.submitted"
                  >
                    <div *ngIf="firstName.errors['required']">
                      Le prénom est obligatoire.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="birthday"
                >
                  <label for="birthday">Date de naissance : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    id="startDate"
                    class="form-control"
                    type="date"
                    name="birthday"
                    [(ngModel)]="form.birthday"
                    (ngModelChange)="form.birthday = $event"
                    required
                    #birthday="ngModel"
                    value="{{ form.birthday }}"
                  />

                  <div
                    class="text-danger"
                    *ngIf="birthday.errors && f.submitted"
                  >
                    <div *ngIf="birthday.errors['required']">
                      La date de naissance est obligatoire.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--------------ADRESSE------------->
            <hr />
            <h3>Adresse</h3>

            <div class="form-group">
              <div class="row">
                <div class="col-2 align-self-center" id="numberStreet">
                  <label for="numberStreet">Numéro : </label>
                </div>
                <div class="col-1">
                  <input
                    type="text"
                    class="form-control"
                    name="numberStreet"
                    [(ngModel)]="form.numberStreet"
                    #numberStreet="ngModel"
                    value="{{ form.numberStreet }}"
                  />
                </div>

                <div class="col-1 align-self-center offset-1" id="streetName">
                  <label for="streetName">Voie : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    name="streetName"
                    [(ngModel)]="form.streetName"
                    #streetName="ngModel"
                    value="{{ form.streetName }}"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-2 align-self-center" id="postalCode">
                  <label for="postalCode">Code postal : </label>
                </div>
                <div class="col-2">
                  <input
                    type="text"
                    class="form-control"
                    name="postalCode"
                    required
                    [(ngModel)]="form.postalCode"
                    #postalCode="ngModel"
                    value="{{ form.postalCode }}"
                  />
                  <div
                    class="text-danger"
                    *ngIf="postalCode.errors && f.submitted"
                  >
                    <div *ngIf="postalCode.errors['required']">
                      Le code postal est obligatoire.
                    </div>
                  </div>
                </div>

                <div class="col-1 align-self-center" id="city">
                  <label for="city">Ville : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    name="city"
                    [(ngModel)]="form.city"
                    required
                    #city="ngModel"
                    value="{{ form.city }}"
                  />
                  <div class="text-danger" *ngIf="city.errors && f.submitted">
                    <div *ngIf="city.errors['required']">
                      La ville est obligatoire.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--------------CONNEXION------------->
            <hr />
            <h3>Connexion</h3>
            <div class="form-group">
              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="username"
                >
                  <label for="username">Nom d'utilisateur :</label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    [(ngModel)]="form.username"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                    value="{{ form.username }}"
                  />
                  <div
                    class="text-danger"
                    *ngIf="username.errors && f.submitted"
                  >
                    <div *ngIf="username.errors['required']">
                      Le nom d'utilisateur est obligatoire.
                    </div>
                    <div *ngIf="username.errors['minlength']">
                      Le nom d'utilisateur doit faire au moins 3 caractères.
                    </div>
                    <div *ngIf="username.errors['maxlength']">
                      Le nom d'utilisateur ne doit pas dépasser 20 caractères.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="email"
                >
                  <label for="email">Email :</label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    email
                    #email="ngModel"
                    value="{{ form.email }}"
                  />
                  <div class="text-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">
                      L'email est obligatoire.
                    </div>
                    <div *ngIf="email.errors['email']">
                      Entrez une adresse valide.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div
                    class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                    id="password"
                  >
                    <label for="password">Mot de passe :</label>
                  </div>
                  <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="form.password"
                      required
                      minlength="6"
                      #password="ngModel"
                      value="{{ form.password }}"
                    />
                    <div
                      class="text-danger"
                      *ngIf="password.errors && f.submitted"
                    >
                      <div *ngIf="password.errors['required']">
                        Le mot de passe est obligatoire.
                      </div>
                      <div *ngIf="password.errors['minlength']">
                        Le mot de passe doit faire au moins 6 caractères.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 offset-6" id="btnEnvoyer">
                <button mat-button matStepperNext class="button" type="button">
                  Page suivante
                </button>
              </div>
            </div>

            <button type="text" value="test" (click)="preRemplir()">
              Préremplir
            </button>
          </mat-step>
          <!--****************************************DEUXIEME_PAGE*******************************************************-->
          <mat-step>
            <ng-template matStepLabel>Espace artiste</ng-template>

            <!--------------PROFIL------------->
            <hr />
            <h3>Profil</h3>

            <div class="form-group">
              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="domain"
                >
                  <label for="domain">Mon domaine artistique : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <select (change)="selectMyDomain($event)">
                    <option>Sélectionner domaine artistique</option>
                    <option *ngFor="let op of optionsDomains" [value]="op">
                      {{ op }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="domain"
                >
                  <label for="domain">Mon département : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <select (change)="selectMyDep($event)">
                    <option>Sélectionner département</option>
                    <option *ngFor="let de of optionsDepartments" [value]="de">
                      {{ de }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="sceneName"
                >
                  <label for="sceneName">Nom de scene : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    name="sceneName"
                    [(ngModel)]="form.sceneName"
                    #sceneName="ngModel"
                    value="{{ form.sceneName }}"
                  />
                </div>
              </div>

              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="slogan"
                >
                  <label for="slogan">Slogan : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    name="slogan"
                    [(ngModel)]="form.slogan"
                    #slogan="ngModel"
                    value="{{ form.slogan }}"
                  />
                </div>
              </div>

              <div class="row">
                <div
                  class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                  id="biographie"
                >
                  <label for="biographie">Biographie : </label>
                </div>
                <div class="col-3 col-sm-3 col-md-4 col-lg-6">
                  <textarea
                    id="biographie"
                    class="form-control"
                    type="textarea"
                    name="biographie"
                    rows="8"
                    [(ngModel)]="form.biographie"
                    #biographie="ngModel"
                    value="{{ form.biographie }}"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div
                class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center"
                id="biographie"
              >
                <label for="biographie">Ajouter une photo : </label>
              </div>

              <div class="col-2 col-sm-2 col-md-3 col-lg-4">
                <input type="file" (change)="onFileChanged($event)" />
              </div>

              <div class="col-2">
                <input
                  type="button"
                  (click)="onUpload()"
                  value="upload"
                  id="upload"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-2 col-sm-2 col-md-3 col-lg-4 align-self-center">
                <p *ngIf="message">{{ message }}</p>
              </div>

              <div class="col-4">
                <div *ngIf="retrievedImage">
                  <img [src]="retrievedImage" />
                </div>
              </div>
            </div>

            <!--------------INFOS_ARTISTIQUES------------->
            <hr />
            <h3>Mes préférences artistiques</h3>

            <div class="form-group">
              <div class="row">
                <label for="location"
                  >Séléctionnez les départements pour lesquels vous souhaitez
                  recevoir des informations d'évènements :
                </label>
              </div>
              <div class="row">
                <div class="col-3">
                  <select (change)="selectDep($event)">
                    <option>Sélectionner département</option>
                    <option *ngFor="let o of optionsDepartments" [value]="o">
                      {{ o }}
                    </option>
                  </select>
                </div>

                <div class="col-4 offset-1">
                  <div class="listDep" *ngIf="selectedDepartment">
                    <p id="dep-p">Départements séléctionnés :</p>
                    <ul class="list-group">
                      <li
                        class="list-group-item"
                        *ngFor="let dep of selectedDepartements; let i = index"
                      >
                        <button
                          (click)="deleteDep(i)"
                          type="button"
                          class="btn-close"
                          aria-label="Close"
                        ></button
                        >{{ dep }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <label for="domain"
                  >Les évènements que je souhaite suivre :
                </label>
              </div>
              <div class="row">
                <div class="col-3">
                  <select (change)="selectDomain($event)">
                    <option>Sélectionner domaine artistique</option>
                    <option *ngFor="let do of optionsDomains" [value]="do">
                      {{ do }}
                    </option>
                  </select>
                </div>

                <div class="col-4 offset-1">
                  <div class="listDep" *ngIf="selectedDomain">
                    <p id="dom-p">Mes préférences d'évènements :</p>
                    <ul class="list-group">
                      <li
                        class="list-group-item"
                        *ngFor="let dom of selectedDomains; let ind = index"
                      >
                        <button
                          (click)="deleteDomain(ind)"
                          type="button"
                          class="btn-close"
                          aria-label="Close"
                        ></button
                        >{{ dom }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 offset-3" id="btnPrevious">
                <button
                  class="button"
                  mat-button
                  matStepperPrevious
                  type="button"
                >
                  Page Précédente
                </button>
              </div>
              <div class="col-2 offset-1" id="btnNext">
                <button class="button" mat-button matStepperNext type="button">
                  Page Suivante
                </button>
              </div>
            </div>
          </mat-step>
          <!--****************************************TROISIEME_PAGE*******************************************************-->
          <mat-step>
            <ng-template matStepLabel>Aperçu du profil</ng-template>
            <hr />
            <h3>Profil</h3>
            <div class="container" id="apercu">
              <div class="row">
                <div class="col-4" *ngIf="retrievedImage" id="img-profil">
                  <img [src]="retrievedImage" />
                </div>

                <div class="col-8" id="name-profil">
                  <h1>{{ form.firstName }} {{ form.lastName }}</h1>

                  <br />
                  <p id="domain-profil">{{ form.domain }}</p>

                  <p id="location-profil">{{ form.location }}</p>
                </div>
              </div>

              <div class="col-10 offset-1">
                <p *ngIf="form.slogan" id="slogan-profil">
                  "{{ form.slogan }}"
                </p>
              </div>

              <div>
                <p *ngIf="form.biographie" id="bio-profil">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"{{ form.biographie }}"
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2 offset-3" id="btnPrevious">
                <button
                  class="button"
                  mat-button
                  matStepperPrevious
                  type="button"
                >
                  Page Précédente
                </button>
              </div>
              <div class="col-2 offset-1" id="btnNext">
                <button class="button" type="submit" (click)="onSubmit()">
                  Envoyer
                </button>
              </div>
            </div>
            <div *ngIf="isSuccessful" class="alert alert-success" role="alert">
              {{successMessage}}
            </div>
            <div *ngIf="isSignUpFailed" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
          </mat-step>
        </form>
      </mat-stepper>
      <div *ngIf="isSuccessful" class="toast show bg-light" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Inscription</strong>
          <small>Maintenant</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{successMessage}}
        </div>
      </div>
      <div *ngIf="isSignUpFailed" class="toast show bg-light" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Inscription</strong>
          <small>Maintenant</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{errorMessage}}
        </div>
      </div>
    </div>
  </div>
</div>
