<div class="container" id="mySearch">
  <div id="divSearch">
<!-----------------------------------------FILTRES---------------------------------------------->
<div class="row">
  <h1>Recherche de salles</h1>
</div>
<div id="divFiltres">
  <div class="card" id="card-dep">
    <h5 class="card-header">Département</h5>
    <div class="card-body">
      <h5 class="card-title">Dans quel département souhaitez vous trouver une salle?</h5>
      <div include="form-input-select()">
          <select (change)="selectDep($event)" class="select-dep">
            <option>Sélectionner département</option>
            <option *ngFor="let de of allDeps" [value]="de">
              {{ de }}
            </option>
          </select>
        </div>
      </div>
  </div>

  <div class="card" id="card-tagP">
    <h5 class="card-header">Type de représentation</h5>
    <div class="card-body">
      <h5 class="card-title">Quel est le domaine de votre spectacle?</h5>
          <select (change)="selectTagP($event)">
            <option>Sélectionner Type de spectacle</option>
            <option *ngFor="let tagP of allTagsP" [value]="tagP">
              {{ tagP }}
            </option>
          </select>
    </div>
  </div>

  <div class="card" id="card-tagS" *ngIf="!(allTagsS.length==0)">
    <h5 class="card-header">Catégories supplémentaires</h5>
    <div class="row">
      <div class="col-6">
    <div class="card-body" id="seco">
      <h5 class="card-title">Séléctionnez des catégories secondaires : </h5>
          <select (change)="selectTagsS($event)">
            <option>Sélectionner Types secondaires</option>
            <option  [value]="tagS" *ngFor="let tagS of allTagsS">
              {{ tagS }}
            </option>
          </select>
      </div>
    </div>
        <div class="col-4 offset-1">
          <h5 class="card-title" id="seleSec">Vous avez sélectionné :</h5>
          <div class="listDep" *ngIf="selectedTagS">
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let dep of tagsSSelected; let i = index"
              >
                <button
                  (click)="deleteTagS(i)"
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                ></button
                >{{ dep }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    <div class="row">

  </div>

<div class="row">
<div class="col-2 offset-3">
  <button id ="btn-reinit" class="button" (click)="reinit()">
    Nouvelle recherche
  </button>

</div>
<div class="col-2 offset-1">
  <button id ="btn-search" data-bs-toggle="modal" data-bs-target="#staticBackdrop"  class="button" (click)="goGetSalles()">
    Lancer la recherche
  </button>
</div>
</div>

<!-----------------------------------------RESULTATS---------------------------------------------->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="nav-result">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Salles ayant eu un évènement : {{tagsSSelected}}</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Salles ayant eu un évènement : {{tagPSelected}}</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div  class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
              <div *ngFor="let sP of sallesFoundtagS" class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../../assets/img/sallesearch.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{sP.placename}}</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div  class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
              <div class="row" id="row-cards">
                <div class="col-12">
              <div *ngFor="let sP of sallesFoundtagP" class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../../assets/img/sallesearch.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{sP.placename}}</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>













<div *ngIf="sallesPNotFound" id="message tag P False">
  <h4>{{messageFoundTagP}}</h4>
</div>
<div *ngIf="salleSNotFound" id="message tag S False">
  <h4>{{messageFoundTagS}}</h4>
</div>
</div>
