@import "../../../common/scss/variables";
//*****************************************BODY***********************************************
#mySearch {
  background: $colorBackgroundRed;
  width: 100%;
  min-height:1400px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #581845;
  font-style: oblique;
}
//*****************************************SEARCH_FILTRES***********************************************
#divSearch{
  position: absolute;
  top: 60px;
  left: 190px;
  background-color:rgb(255, 255, 255);
  height: auto;
  min-height: 1000px;
  width: 86%;
  padding: 40px;
  padding: 10px;
  box-shadow: $boxShadow;
  border: solid;
  border-color: #330606;
  border-width: 10px;
}

#divFiltres{
  border-top: solid;
  border-bottom: solid;
  margin : 20px;
  border-color:$colorGoldDark;
  border-style: groove;
  border-width: 10px;
  padding:50px;
  background:#330606d5;
}

#card-tagP, #card-dep, #card-tagS{
  border:none;
  background: #fffae2de;
  box-shadow: $boxShadow;
}

#card-tagP, #card-tagS{
  margin-top:35px;
}
.card-header{
  text-align: center;
  background-color: rgba(100, 16, 16, 0.829);
  color:$colorGoldDark;
  font-family: 'Times New Roman', Times, serif;
}

.card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 35px;
  color:rgb(61, 7, 7);
  font-weight:bold;
}

.card-body{
  text-align: center;
}

#seco{
  width:auto;
  margin:0;
}

#seleSec{
  text-align: center;
  margin-top:56px;
}

.btn-close{
    margin-right: 70px;
}

select{
  height:40px;
  width: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  border-color: #9c1414;
  border-width: 2px;
  color:#611515d0;
  font-weight: bold;
}

select:focus > option:checked {
  background: rgb(253, 201, 122) !important;
}

ul{
  margin-top: 40px;
}
li{
  background-color: #f8f6ea;
  color:#92353d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

//*****************************************RESULTS***********************************************
.modal-content{
  width: 1200px;
  position: fixed;
  left:50%;
  top:10%;
  transform: translate(-50%, -50%);

}




//*****************************************BUTTONS***********************************************
#btn-reinit,#btn-search{
  margin-top:50px;
  margin-bottom: 10px;;
}

#btn-search{
    width: 140px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #92353d;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left:20px;
}

#btn-search:hover {
    background-color: #900c3f;
    box-shadow: 0px 15px 20px rgba(88, 24, 69, 0.4);
    color: rgb(255, 238, 193);
    transform: translateY(-7px);
  }

  #btn-reinit{
    width: 140px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #c48755;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left:20px;
  }
  #btn-reinit:hover {
    background-color: #900c3f;
    box-shadow: 0px 15px 20px rgba(88, 24, 69, 0.4);
    color: rgb(255, 238, 193);
    transform: translateY(-7px);
  }
