@import "common/scss/variables";
.nav{
  max-width: 100px;
  position: absolute;
  top: 30%;
  left: 0.2%;
}

#link-accueil{
  background-color: black;
  color:$colorGoldDark;
  height: 100px;
}

#link-research{
  background-color: #330606;
  color:$colorGoldDark;
  height: 100px;
}

#link-profil{
  background-color: black;
  color:$colorGoldDark;
  height: 100px;
}

#link-histo{
  background-color: #330606;
  color:$colorGoldDark;
  height: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 199px;
  border: 1px solid #555;
}

li a {
  display: block;
  text-decoration: none;
  padding:40px 0px;
}

li {
  text-align: center;
}

li:hover {
  width: 250px;;
}

li:last-child {
  border-bottom: none;
}

.active {
  background-color: #04AA6D;
}

li a:hover:not(.active) {
  background-color: #555;
}
