
<app-header></app-header>

<router-outlet></router-outlet>
<nav *ngIf="isLoggedIn" class="nav flex-column">
  <ul>
    <li><a class="nav-link" routerLinkActive="active" routerLink="/home" id="link-accueil">Accueil</a></li>
      <li><a class="nav-link" routerLinkActive="active" routerLink="/home" id="link-research">Recherche</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/profile" id="link-profil">Mon Profil</a></li>
          <li><a class="nav-link" routerLinkActive="active" routerLink="/profile" id="link-histo">Mon historique</a></li>

</ul>
</nav>

<app-footer></app-footer>

