@import "../../../common/scss/variables";
//*****************************************BODY***********************************************
#myBoard {
  background: $colorBackgroundRed;
  width: 100%;
  height: 950px;
  margin: 0px;
  padding: 0px;
  position: relative;
}
//*****************************************BOARD***********************************************
#divBoard{
  position: absolute;
  top: 60px;
  left: 190px;
  background-color:rgb(255, 255, 255);
  height: auto;
  min-height: 500px;
  width: 86%;
  padding: 40px;
  padding: 10px;
  box-shadow: $boxShadow;
  border: solid;
  border-color: #3a0505e8;
  border-width: 10px;
}

.row{
  margin:0;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #6b1e1e;
  font-style: oblique;
}

h3{
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
}

#mes-cols{
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 0;
  background-color:#ffd25677;
  min-height:500px;
}

#profil-col{
  border-style: groove;
  border-color: #581845;
  border-width: 10px;
  height: 600px;
  width: 70%;
  background-color: white;
  margin: 20px;
  position: relative;
  }

  #mes-3{
    margin-top: 20px;
  }

#research-col, #histo-col, #stats-col{
  border-style: groove;
  border-color: #581845;
  border-width: 10px;
  height: 183px;
  background-color: white;
  position: relative;
  }

