<div class="container" id="myBoard">
  <div id="divBoard">
<div class="row">
  <h1>Mon tableau de bord</h1>
</div>
<div id="mes-cols">
  <div class="row">
    <div class="col-8" id="profil-col">
      <h3>Mon profil</h3>
    </div>
    <div class="col-3" id="mes-3">
    <div id="research-col">
      <a routerLink="/search"><h3>Recherche de salle</h3></a>
    </div>
    <br>
    <div id="histo-col">
      <h3>Mon Historique</h3>
    </div>
    <br>
    <div  id="stats-col">
      <h3>Mes statistiques</h3>
    </div>
  </div>
  </div>
</div>
</div>


