@use '@angular/material' as mat;
@include mat.core();

@import"./app/common/scss/variables";

$spectacles_angular-primary: mat.define-palette(mat.$indigo-palette);
$spectacles_angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$spectacles_angular-warn: mat.define-palette(mat.$red-palette);

$spectacles_angular-theme: mat.define-light-theme((
  color: (
    primary: $spectacles_angular-primary,
    accent: $spectacles_angular-accent,
    warn: $spectacles_angular-warn,
  )
));

@include mat.all-component-themes($spectacles_angular-theme);

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0!important;
  padding:0!important;
}

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important;
}
body.container{
  background-color: black;
}
}
