<div class="container" id="myLogin">
  <!--******************************************************CAROUSEL***************************************************************-->
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="text-img">
          <img
            src="../../assets/img/appareil-photo.jpg"
            class="d-block w-100"
            alt="..."
            id="img-photo"
          />
          <p class="text-white" id="solgan1">Réalisez vos oeuvres,</p>
          <img
            src="../../assets/img/chaussons-danse.jpg"
            class="d-block w-100"
            alt="..."
            id="img-chaussons"
          />
          <p class="text-white" id="solgan2">Produisez vos rêves.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-img">
          <img
            src="../../assets/img/pieds-rouges.jpg"
            class="d-block w-100"
            alt="..."
            id="img-pieds"
          />
          <img
            src="../../assets/img/projecteurs-rouges.jpg"
            class="d-block w-100"
            alt="..."
            id="img-projecteurs"
          />
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!--****************************************LOGIN*******************************************************-->
<div id="divLogin">
  <div class="formu">
    <h2>Me connecter</h2>
    <hr>
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && login()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <div class="mb-3 row">
        <label for="username" class="col-3 align-self-center">Username</label>
        <input
          type="text"
          class="col-4 col-form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
      </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <div class="mb-3 row">
        <label for="password" class="col-3 align-self-center">Password</label>
        <input
        type="password"
            class="col-4 col-form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
        </div>

          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="mb-3 row">
            <div class="col-2 offset-3 px-0">
          <button class="button">
            Envoyer
          </button>
        </div>
        </div>

      </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>

  <a *ngIf="!isLoggedIn" class="signUp" routerLink="/register">Je ne suis pas encore inscrit? C'est par ici ;)</a>

  <div *ngIf="isLoginFailed" class="toast show bg-light" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Connexion</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{errorMessage}}
    </div>
  </div>

  <div *ngIf="isLoggedIn" class="mb-3 row">
    <h3>Bienvenue {{username}} !</h3>
  </div>
  <div *ngIf="isLoggedIn" class="mb-3 row">
    <h4>Vous pouvez accéder à votre Tableau de Bord :</h4>
  </div>
  <div class="mb-3 row">
    <div class="col-2 offset-3 px-0" id="tabord">
  <a *ngIf="isLoggedIn" id="tabtext" routerLink="/user">
    Accéder au tableau de bord
  </a>
</div>
</div>
</div>
</div>
