@import "../../../common/scss/variables";

//*****************************************BODY***********************************************
#myLogin {
  background: $colorBackgroundRed;
  width: 100%;
  height: 1300px;
  margin: 0px;
  padding: 0px;
}

//*****************************************CAROUSEL***********************************************
#carouselExampleIndicators {
  max-height: 500px;
}

img {
  max-height: 500px;
}

#img-chaussons {
  display: inline-block !important;
  width: 50% !important;
}
#img-photo {
  display: inline-block !important;
  width: 50% !important;
}
#img-pieds {
  display: inline-block !important;
  width: 50% !important;
}
#img-projecteurs {
  display: inline-block !important;
  width: 50% !important;
}

#img-sieges {
  display: inline-block !important;
  width: 50% !important;
}
#img-magicien {
  display: inline-block !important;
  width: 50% !important;
}

.text-img {
  position: relative;
  text-align: center;
  color: white;
}

.text-white {
  font-style: italic;
  font-size: large;
}

#solgan1 {
  position: absolute;
  top: 15%;
  left: 32%;
}
#solgan2 {
  position: absolute;
  bottom: 8%;
  right: 8%;
}

//*****************************************LOGIN***********************************************
#divLogin {
  position: absolute;
  top: 790px;
  left: 50%;
  background: $colorBorderConnect;
  height: auto;
  min-height: 600px;
  width: 1100px;
  padding: 40px;
  padding: 10px;
  transform: translate(-50%, -50%);
  box-shadow: $boxShadow;
}

.formu {
  align-content: center;
  padding: 15px;
  background-color: white;
  height: auto;
  min-height: 600px;
}

form{
  margin:50px;
  margin-left: 25%;
  margin-top: 60px;
}

//*****************************************FORMULAIRE***********************************************

label{
  color: $colorPurpleDarck;
  font-size: 1.5rem;
}

input{
  background-color: white;
  border-color: $colorRedDarck;
  border-radius: 4px;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #581845;
  font-style: oblique;
}

.form-group{
  margin-bottom: 60px;
}

.signUp{
  padding-left:35%;
  color:$colorPurpleDarck;
}

.toast{
  position:relative;
  top: 250px;
  left: 700px;
}

h3{
  color:rgba(88, 24, 69, 0.4);
  background: linear-gradient(to right, #230044, rgb(102, 28, 240));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4rem;
  margin-left:320px;
  margin-top: 25px;
}

h4{
  color:#c47f00;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin-left:250px;
  margin-top: 25px;
}
//*****************************************BUTTONS***********************************************

.button{
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #581845;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #900c3f;
  box-shadow: 0px 15px 20px rgba(88, 24, 69, 0.4);
  color: rgb(255, 238, 193);
  transform: translateY(-7px);
}

#tabord{
  width: 350px;
  height: 50px;
  background-color: #581845;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-top: 40px;
  margin-left: 350px;
}
#tabord:hover {
  background-color: #900c3f;
  box-shadow: 0px 15px 20px rgba(88, 24, 69, 0.4);
  color: rgb(255, 238, 193);
  transform: translateY(-7px);
}

#tabtext{
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration : none;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  position : relative;
  top: 20%;
  left: 15%;
}
