@import"../common/scss/variables";
#myHome{
  padding-left: 0!important;
  padding-right: 0!important;
}

#homeBot{
  background: $colorBackgroundRed;
  min-height: 1400px;
  margin-top:0 !important;
  margin-bottom:0 !important;
}

#carouselExampleIndicators{
  max-height: 500px;
}

img{
  max-height: 500px;
}

#img-chaussons{
  display:inline-block !important;
  width: 50%!important;
}
#img-photo{
  display:inline-block!important;
  width: 50%!important;
}
#img-pieds{
  display:inline-block !important;
  width: 50%!important;
}
#img-projecteurs{
  display:inline-block!important;
  width: 50%!important;
}

#img-sieges{
  display:inline-block !important;
  width: 50%!important;
}
#img-magicien{
  display:inline-block!important;
  width: 50%!important;
}

.text-img {
  position: relative;
  text-align: center;
  color: white;
}

.text-white{
  font-style: italic;
  font-size:large
}

#solgan1{
  position: absolute;
  top: 15%;
  left: 32%;

}
#solgan2{
  position: absolute;
  bottom: 8%;
  right: 8%;
}

#popLaUne{
  position:absolute;
  top:760px;
  left: 50%;
  height:500px;
  width: 890px;
  padding:40px;
  z-index:15;
  //background: linear-gradient(230.46deg, #ddd34c -2.98%, #eebd1e 68.14%, #f1d537 104.54%);
  padding:10px;
  transform: translate(-50%, -50%);
  box-shadow: $boxShadow;
  background-color: ghostwhite;
}

/*
#laUne{
  align-content: center;
  padding:15px;
  background-color: floralwhite;
  height:100%
}*/

h2{
  color:$colorRedDarck;
  padding-left: 80px;
  padding-top: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:italic;
}

.card{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color:  #F9F9F9;
}

cite{
  color:$colorGold;
}

.card-header{
  color:#473D56;
}


#exempleRecherche{
  position:absolute;
  top:1080px;
  left:3%;
  height:600px;
  width: 820px;
  padding:40px;
  z-index:15;
  background: $colorBorder3;
  padding:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 10px;
}
#exempleRechercheIn{
  align-content: center;
  padding:8px;
  background-color: ghostwhite;
  height:100%
}

#exempleTrouvaille{
  position:absolute;
  top:1080px;
  right:3%;
  height:600px;
  width: 580px;
  padding:40px;
  z-index:15;
  background: $colorBorder3;
  padding:5px;
  box-shadow: $boxShadow;
  border-radius: 10px;
}
#exempleTrouvailleIn{
  align-content: center;
  padding:8px;
  background-color: ghostwhite;
  height:100%
}
