<div class="container" id="myHome">
  <!--******************************************************CAROUSEL***************************************************************-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="text-img">
          <img src="../../assets/img/appareil-photo.jpg" class="d-block w-100" alt="..."id="img-photo">
          <p class="text-white" id="solgan1">Réalisez vos oeuvres,</p>
          <img src="../../assets/img/chaussons-danse.jpg" class="d-block w-100" alt="..."id="img-chaussons">
          <p class="text-white" id="solgan2">Produisez vos rêves.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="text-img">
          <img src="../../assets/img/pieds-rouges.jpg" class="d-block w-100" alt="..."id="img-pieds">
          <img src="../../assets/img/projecteurs-rouges.jpg" class="d-block w-100" alt="..."id="img-projecteurs">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

  <!--******************************************************PRESENTATION***************************************************************-->

<div id="homeBot">
  <div id="popLaUne">
      <h2>A La Une...</h2>
  <hr>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Chez Loulou.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Bim Bam Bool.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Et coucou.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div id="exempleRecherche">
    <div id="exempleRechercheIn">
    <h2>Ma recherche en 3 clicks :</h2>
  </div>
</div>
<div id="exempleTrouvaille">
  <div id="exempleTrouvailleIn">
    <h2>Mon résultat en 3 secondes</h2>
  </div>
</div>
</div>


